.admin {
  .user {
    label, input {
      width: 100%;
    }
    label.blocked, input.blocked {
      width: auto;
      display:inline-block;
      margin-right: 8px;
    }
    .roles {
      >span {
        width: 100%;
        display: inline-block;
        line-height: 32px;
        label {
          width: 40%;
          display: inline-block;
          line-height: 24px;
          vertical-align: top;
        }
        input[type="checkbox"] {
          margin-right: 8px;
          width: auto;
          display: inline-block;
          line-height: 24px;
          vertical-align: top;
        }
      }
    }
    .fg, h3 {
      width: 100%;
      margin-top: 16px;
    }
  }
}