@import "constants";
@import "flex";

.popup .wrap.formed {
	height: auto;
	padding: 24px;
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
	select {
		width: 100%;
		margin-top: 8px;
	}
	.buttons {
		margin-top: 12px;
	}
	h3 {
		margin: 0;
		padding: 0;
	}
}

.incassation_list {
	display: inline-block;
	margin-top: 24px;
	border: 1px solid #ccc; padding: 8px;
}
