@import "constants";

form {
	background: #fff;
	border-radius: 0px;
	border: 1px solid rgb(204,204,204);
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 14px;

	@media(max-width: $width-mobile) {
		padding: 8px;
	}

	.sep {
		text-align: left;
		border-top: 1px solid #dadada;
		padding: 4px 17px 0px;
		margin-top: 15px;
	}

	.fg {
		display: inline-block;
		width: 100%;
		line-height: 18px;
		margin-top: 8px;

		.hint {
			width: 64%;

			display: inline-block;
			text-align: left;
			vertical-align: middle;
		}
		.el {
			width: 28%;
			margin-left: 2%;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
		}

		&.half {
			width: calc(50% - 2px);
			padding: 8px;

			@media(max-width: $width-mobile) {
				width: 100%;
				margin-top: 8px;
			}

			.hint {
				width: 100%;
			}
			.el {
				width: 100%;
				margin-left: 0;
			}
		}

		input, select {
			width: 96%;
			margin: 8px 4% 0 0;
			border-radius: 0;
		}

	}

	.alert.alert-danger {
		margin-right: 12px;
		border-radius: 0px;
		margin-top: 4px;
	}

	.error {
		font-size: 12px;
		color: #ff9d00;
		text-align: left;
	}
	.hint {
		font-size: 12px;
	}

}
