@import "flex";
@import "constants";

.login-form {
	display: inline-block;
	line-height: 24px;
	width: 400px;
	white-space: normal;

	@media(max-width:$width-mobile) {
		width: 100%;
	}

	h2 {
		margin-bottom: 20px;
	}

	.mblock {
		width: 100%;
		padding: 8px 0;
		@media(min-width: $width-mobile+1) {
			@include flexbox();
			@include justify-content(space-between);
		}
		label {
			@media(min-width: $width-mobile+1) {
				@include flex-basis(100px);
				@include flex-shrink(0);
				@include flex-grow(0);
			}
			line-height: 30px;
			margin-bottom: 0;
			@media(max-width: $width-mobile) {
				width: calc(100% - 32px);
				margin: 0 16px;
			}
		}
		input {
			line-height: 24px;
			border-radius: 0;
			@media(min-width: $width-mobile+1) {
				@include flex-grow(1);
				@include flex-shrink(0);
			}
			&.form-control {
				width: auto;
				@media(max-width: $width-mobile) {
					width: calc(100% - 32px);
					margin: 0 16px;
				}
			}
		}

		label, input {
			display: inline-block;
			@media(min-width: $width-mobile+1) {
				@include inline-flex();
			}
		}
	}


	/*input {
		width: 100%;
		display: inline-block;
		line-height: 24px;
		padding: 5px 10px;
		background: #fff;
		color: #3c3c3c;
		margin: 5px 0px;
	}*/

	/*button {
		margin-top: 5px;
		width: 50%;
		display: inline-block;
		line-height: 24px;
		background: #ccc;
		color: #000;
	}*/
}

a.reg-signin {
	margin-top: 16px;
	display: inline-block;
}