@import "constants";
@import "flex";

button, .btn {
	border-radius: 0;
}

.main {
	background: #fff;
	color: #000;
}

.header {
	@include flexbox();
	@include justify-content(space-between);
	padding: 8px 0px;
	border-bottom: 1px solid #ccc;
	@media(max-width: $width-mobile) {
		display: none;
	}
	.btn {
		border-radius: 0;
	}
	.nav, .login {
		display: inline-block;
	}
}

.container {
	padding-bottom: 5em;
	@media(max-width: $width-mobile) {
		padding: 8px;
	}
}

.narrow {
    max-width: 450px;
	@media (max-width: $width-mobile) {
		width: 100%;
	}
}

.wide {
	max-width: 800px;
	@media (max-width: $width-mobile) {
		width: 100%;
	}
}

.mt1 {
	margin-top: 8px;
}

.popup{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 35vh 25%;
	z-index: 200;
	&.opaque {
		background: rgba(0.7, 0.7, 0.7, 0.3);
	}
	.wrap {
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid #999;
		background: #f2f2f2;
		> span {
			display: inline-block;
			width: 100%;
			text-align: center;
			position: relative;
			top: calc(50% - 12px);
			line-height: 24px;

		}
	}
}

.buttons-default {
	max-width: 400px;
	@media(min-width: $width-mobile+1) {
		@include flexbox();
		@include justify-content(space-between);
	}
	.btn {
		border-radius: 0;
		padding: 8px 10px;
		font-size: 16px;
		@media(min-width: $width-mobile+1) {
			min-width: 8em;
			width: calc(50% - 16px);
		}
		@media(max-width: $width-mobile) {
			display: block;
			width: calc(100% - 32px);
			margin: 24px auto;
		}
	}
}


