<link href="/resources/css/forms.css" rel="stylesheet">
<link href="/resources/css/application.css" rel="stylesheet">

<div class="main">
    <h3>Заявки на инкассацию</h3>
    <router-outlet></router-outlet>
</div>

