<meta charset="utf-8">
<div class="container wide">
    <div class="header">
        <div class="nav">
            <a class="btn btn-sm btn-link" routerLink="/">Банк</a>
        </div>
        <div class="login">
            <div *ngIf="!auth.isLoggedIn()">
                <a class="btn btn-sm btn-default" routerLink="/signup">Зарегистрироваться</a>
                <a class="btn btn-sm btn-default" routerLink="/signin">Войти</a>
            </div>
            <div *ngIf="auth.isLoggedIn()">
                <a class="btn btn-sm btn-default" routerLink="/logout">Выйти</a>
            </div>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
