<div class="main">
    <div *ngIf="loggedIn">
        <h3>Привет, {{username}}</h3>
        <a *ngIf="isAdmin()" class="btn btn-md btn-primary" routerLink="/admin">Админка</a>
        <a *ngIf="isUser()" class="btn btn-md btn-primary" routerLink="/user">Личный кабинет</a>
    </div>
</div>