<div>
    <h3>Личный кабинет</h3>
    <a class="btn btn-md btn-primary mt1" routerLink="/application">Заявки на инкассацию</a>
    <a class="btn btn-md btn-primary mt1" routerLink="/incassation_object">Объекты инкассации</a>
    <router-outlet></router-outlet>
</div>
