<!DOCTYPE html>
<html lang="ru" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Банк</title>

    <base href="/angular">

    <script src="/resources/js/lib/jquery.min.js"></script>

    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="/resources/angular/node_modules/core-js/client/shim.min.js"></script>
    <script src="/resources/angular/node_modules/zone.js/dist/zone.js"></script>
    <script src="/resources/angular/node_modules/systemjs/dist/system.src.js"></script>

    <script src="/resources/angular/system.config.js"></script>
    <script>
        System.import('resources/angular/app/main.js').catch(function(err){ console.error(err); });
    </script>

    <link href="/resources/css/main.css" rel="stylesheet">
</head>
<body lang="ru">
<bankApp>
    <div *ngIf="(readinessLevel == 6) && (incassationObject == null)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка...</span>
        </div>
    </div>
</bankApp>
</body>
</html>