<div class="admin">
    <h2>Редактирование пользователя</h2>

    <label *ngIf="error != null">Ошибка: {{error}}</label>

    <div *ngIf="user == null" class="popup opaque">
        <div class="wrap">
            <span>Загрузка пользователя...</span>
        </div>
    </div>
    <div *ngIf="(user != null) && (obsAllRoles$ | async)?.length==0" class="popup opaque">
        <div class="wrap">
            <span>Загрузка данных...</span>
        </div>
    </div>
    <div *ngIf="user != null && user !== undefined" class="user">
        <div class="fg">
            <label>Логин</label>
            <input id="abc" readonly value="{{user.login}}"/>
        </div>
        <div class="fg">
            <input type="checkbox" class="blocked" [(ngModel)]="user.blocked"/>
            <label class="blocked">Заблокировать</label>
        </div>
        <div class="fg">
            <label>Роли</label>
            <div class="roles">
                <!-- Admin cannot edit himself -->
                <div *ngIf="isAdmin(originalUser) && (user.login == getAuthLogin())">
                    <div *ngFor="let role of user.userRoles">{{role.name}}</div>
                </div>
                <div *ngIf="!isAdmin(originalUser) || (user.login != getAuthLogin())">
                    <div *ngFor="let role of obsAllRoles$ | async">
                        <label>
                            <input type="checkbox" (click)="checkRole(role);" [checked]="isRolePresent(role)"/>
                            {{role.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="error != null">{{error}}</div>
        <button [disabled]="formSubmitting" type="submit" class="btn btn-md btn-primary" (click)="submit()">Сохранить</button>
        <button [disabled]="formSubmitting" type="submit" class="btn btn-md btn-default" (click)="cancel()">Отмена</button>
        <!--<a *ngIf="formSubmitting" class="btn btn-md btn-default">Отмена</a>-->
        <!--<a *ngIf="!formSubmitting" routerLink='/admin/users' class="btn btn-md btn-default">Отмена</a>-->
    </div>

</div>
