<div class="admin">
    <h2>Список пользователей:</h2>

    <label *ngIf="error != null">Ошибка: {{error}}</label>

    <div *ngIf="(userObs | async)?.length==0" class="popup opaque">
        <div class="wrap">
            <span>Загрузка списка пользователей...</span>
        </div>
    </div>

    <button class="btn-sm btn btn-default" (click)="refetch()">Обновить</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Логин</th>
            <th>Роли</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr *ngFor = "let user of userObs | async">
            <td>{{user.login}}</td>
            <td>
                <div *ngFor = "let x of user.userRoles" class="role">
                    {{x.name}}
                </div>
            </td>
            <td>
                <p *ngIf="user.blocked">Заблокирован</p>
                <p *ngIf="!user.blocked">Нормальный</p>
            </td>
            <td>
                <button (click)="editUser(user)" class="btn btn-sm btn-primary btn-block">Изменить</button>
            </td>
        </tr>
        <tr *ngIf="!noMoreItems">
            <td colspan="4">
                <button class="btn-sm btn btn-default" (click)="fetchNext()">Загрузить ещё</button>
            </td>
        </tr>
    </table>

</div>
