<link href="/resources/css/login.css" rel="stylesheet">

<form class="form login-form">
    <h3>Вход в систему</h3>
    <div class="mblock">
        <label>Логин:</label>
        <input class="form-control" [(ngModel)]="credentials.login" name="login" placeholder="login">
    </div>
    <div class="mblock">
        <label>Пароль:</label>
        <input class="form-control" [(ngModel)]="credentials.password" name="password" type="password">
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt1">{{errorMessage}}</div>
    <div class="buttons-default">
        <button type="submit" class="mt1 btn btn-md btn-primary" (click)="submit()" [attr.disabled]="isSubmitting ? disabled : null">Войти</button>
        <button [attr.disabled]="isSubmitting ? disabled : null" class="mt1 btn btn-md btn-default" (click)="navigateRegister()">Зарегистрироваться</button>
    </div>
</form>
