<div class="admin">
    <h3>
        <span *ngIf="bankObject != null && bankObject.id !== undefined">Редактирование</span>
        <span *ngIf="bankObject != null && bankObject.id === undefined">Создание</span>
        <span>подразделения банка</span>
    </h3>

    <label *ngIf="error != null">Ошибка: {{error}}</label>

    <div *ngIf="(bankObject == null)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка подразделения банка...</span>
        </div>
    </div>

    <div *ngIf="bankObject != null && form != null">
        <form class="form bank-object" [formGroup]="form" (ngSubmit)="submit()">
            <div class="fg half">
                <span class="hint req">Наименование</span>
                <div *ngIf="formErrors.name" class="alert alert-danger">{{ formErrors.name }}</div>
                <input formControlName="name" type="text" class="form-control"
                       required/>
            </div>
            <div class="fg half">
                <span class="hint req">Адрес</span>
                <div *ngIf="formErrors.address" class="alert alert-danger">{{ formErrors.address }}</div>
                <input formControlName="address" type="text" class="form-control"
                       required/>
            </div>

            <span *ngIf="commonErrorString != null" class="alert alert-danger">{{commonErrorString}}</span>
            <div class="buttons-default">
                <button type="button" class="btn btn-sm btn-primary" (click)="submit()">Сохранить</button>
                <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Отмена</button>
            </div>

        </form>
    </div>

</div>
