<div class="admin">
    <h3>Список банковских подразделений</h3>

    <div *ngIf="!loaded" class="popup opaque">
        <div class="wrap">
            <span>Загрузка...</span>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Адрес</th>
            </tr>
        </thead>
        <tbody *ngIf="!loaded" id="bank_list">
            <tr><td colspan="5">Загрузка...</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsBankObjects | async)?.length == 0)" id="bank_list">
            <tr><td colspan="5">Не найдено объектов</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsBankObjects | async)?.length != 0)" id="bank_list">
            <tr *ngFor="let bank of obsBankObjects | async, let i = index"
                (click)="selectRow(i, bank)"
                [ngClass]="{selected: currentRow == i}">
                <td>{{bank.name}}</td>
                <td>{{bank.address}}</td>
            </tr>
            <tr *ngIf="!noMoreItems">
                <td colspan="4">
                    <button class="btn-sm btn btn-default" (click)="fetchNext()">Загрузить ещё</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons-default">
        <a class="btn btn-md btn-primary" routerLink="add">Добавить</a>
        <button class="btn btn-md btn-default" [attr.disabled]="currentRow < 0 ? true : null" (click)="editSelected()">Редактировать</button>
    </div>

</div>
