<div class="admin">
    <!--<button class="btn btn-md btn-primary" (click)="navigateUsers()">Пользователи</button>-->
    <a class="btn btn-md btn-primary" routerLink="./users">Пользователи</a>
    <a class="btn btn-md btn-primary" routerLink="./bank-objects">Подразделения банков</a>
</div>