<div class="admin">
    <h3>
        <span *ngIf="incassationObject != null && incassationObject.id !== undefined">Редактирование</span>
        <span *ngIf="incassationObject != null && incassationObject.id === undefined">Создание</span>
        <span>объекта инкассации</span>
    </h3>

    <label *ngIf="error != null">Ошибка: {{error}}</label>

    <div *ngIf="(readinessLevel == 6) && (incassationObject == null)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка объекта инкассации...</span>
        </div>
    </div>
    <div *ngIf="(readinessLevel < 6)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка данных...</span>
        </div>
    </div>

    <div *ngIf="incassationObject != null && form != null">
        <form class="form incassation-object" [formGroup]="form" (ngSubmit)="submit()">
            <div class="fg half">
                <span class="hint req">Желательное время сдачи наличных (самостоятельно)/ время прибытия инкассаторов в организацию</span>
                <div *ngIf="formErrors.time" class="alert alert-danger">{{ formErrors.time }}</div>
                <input formControlName="time" type="text" placeholder="ЧЧ:ММ" class="form-control"
                       required/>
            </div>
            <div class="fg half">
                <span class="hint req">Способ сдачи денежной наличности</span>
                <div *ngIf="formErrors.encashmentType" class="alert alert-danger">{{ formErrors.encashmentType }}</div>
                <select formControlName="encashmentType" title="Предпочитаемый способ сдачи денежной наличности для инкассации"
                        class="form-control"
                        cbNotEmpty>
                    <option *ngFor="let etype of obsEncashmentTypes | async"
                            [attr.selected]="incassationObject != null && incassationObject.encashmentType != null && etype.id == incassationObject.encashmentType.id ? selected : null"
                            [ngValue]="etype"
                            >{{etype.text}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint req">Периодичность оказания инкассаторских услуг</span>
                <div *ngIf="formErrors.incassationPeriod" class="alert alert-danger">{{ formErrors.incassationPeriod }}</div>
                <select formControlName="incassationPeriod"
                        title="Ежедневно/Рабочие дни/Через день/День недели/По заявке/По звонку"
                        class="form-control"
                        cbNotEmpty>
                    <option *ngFor="let ep of obsIncassationPeriods | async"
                            [attr.selected]="incassationObject != null && incassationObject.incassationPeriod != null && ep.id == incassationObject.incassationPeriod.id ? selected : null"
                            [ngValue]="ep"
                    >{{ep.text}}</option>
                </select>
            </div>
            <div class="fg half" *ngIf="incassationObject.incassationPeriod != null && incassationObject.incassationPeriod.id == 4">
                <span class="hint">День недели</span>
                <select formControlName="dayOfWeek"
                        class="form-control"
                        title="День недели, выбираемый для оказания услуг по объекту инкассации">
                    <option *ngFor="let d of days"
                            [value]="d.id"
                            [attr.selected]="d.id == incassationObject.dayOfWeek ? selected : null"
                    >{{d.text}}</option>
                </select>
            </div>
            <div class="fg half clearfix">
                <span class="hint req">Предполагаемый объем денежной наличности для инкассации</span>
                <div *ngIf="formErrors.approxCash" class="alert alert-danger">{{ formErrors.approxCash }}</div>
                <input formControlName="approxCash" type="text"
                       title="Сумма предназначенная клиентом к инкассации. М.б. как в рублях так и в ин. валюте"
                       class="form-control" required/>
            </div>
            <div class="fg half">
                <span class="hint req">Код валюты</span>
                <div *ngIf="formErrors.currency" class="alert alert-danger">{{ formErrors.currency }}</div>
                <select formControlName="currency"
                        class="form-control"
                        title="Буквенный код валюты (в соответствии со стандартом ISO 4217)"
                        cbNotEmpty>
                    <option *ngFor="let c of obsCurrencies | async"
                            [ngValue]="c"
                            [attr.selected]="incassationObject != null && incassationObject.currency != null && c.id == incassationObject.currency.id ? selected : null"
                    >{{c.code}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint req">Руководитель объекта</span>
                <input formControlName="directorContactPhone" type="text"
                       title="Контактный телефон руководителя точки юр. лица, по которой подразделение инкассации производит инкассацию"
                       class="form-control" required/>
            </div>
            <div class="fg half">
                <span class="hint req">Желательная дата начала обслуживания/Дата открытия торговой точки клиента</span>
                <div *ngIf="formErrors.openingDate" class="alert alert-danger">{{ formErrors.openingDate }}</div>
                <input formControlName="openingDate" type="text" class="form-control" required/>
            </div>
            <div class="fg half">
                <span class="hint req">Тип адреса</span>
                <div *ngIf="formErrors.addressType" class="alert alert-danger">{{ formErrors.addressType }}</div>
                <select formControlName="addressType"
                        class="form-control"
                        title="Тип адреса" cbNotEmpty>
                    <option *ngFor="let c of obsAddressTypes | async"
                            [ngValue]="c"
                            [attr.selected]="incassationObject != null && incassationObject.addressType != null && c.id == incassationObject.addressType.id ? selected : null"
                    >{{c.text}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint">Тип населенного пункта</span>
                <div *ngIf="formErrors.settlementType" class="alert alert-danger">{{ formErrors.settlementType }}</div>
                <select formControlName="settlementType"
                        class="form-control"
                        title="Тип населенного пункта, в котором находится объект инкассации">
                    <option *ngFor="let st of obsSettlementTypes | async"
                            [attr.selected]="incassationObject != null && incassationObject.settlementType != null && st.id == incassationObject.settlementType.id ? selected : null"
                            [ngValue]="st"
                    >{{st.text}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint">Наименование населенного пункта</span>
                <input formControlName="settlementName" type="text"
                       class="form-control" title="Наименование населенного пункта, в котором находится объект инкассации"
                       required/>
            </div>
            <div class="fg half">
                <span class="hint">Улица</span>
                <input formControlName="streetName" type="text"
                       class="form-control" title="Улица, по которой находится объект инкассации"/>
            </div>
            <div class="fg half">
                <span class="hint">Номер дома (владение)</span>
                <input formControlName="buildingNumber" type="text"
                       class="form-control" title="Номер дома (владение), в котором находится объект инкассации"/>
            </div>
            <div class="fg half">
                <span class="hint">Корпус (строение)</span>
                <input formControlName="buildingBlockNumber" type="text"
                       class="form-control" title="Корпус (строение), в котором находится объект инкассации"/>
            </div>
            <div class="fg half">
                <span class="hint req">Инкассаторская услуга</span>
                <select formControlName="incassationType"
                        class="form-control"
                        title="Список инкассаторских услуг, относящихся  к одному объекту инкассации,  которые будут оказаны юр. лицу"
                        cbNotEmpty>
                    <option *ngFor="let it of obsIncassationTypes | async"
                            [attr.selected]="incassationObject != null && incassationObject.incassationType != null && it.id == incassationObject.incassationType.id ? selected : null"
                            [ngValue]="it"
                    >{{it.text}}</option>
                </select>
            </div>

            <div class="sep">Рабочие дни</div>
            <div class="fg half">
                <span class="hint">Начало работы объекта инкассации в рабочие дни</span>
                <div *ngIf="formErrors.openingTimeWeekdays" class="alert alert-danger">{{ formErrors.openingTimeWeekdays }}</div>
                <input formControlName="openingTimeWeekdays" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>
            <div class="fg half">
                <span class="hint">Окончание работы объекта инкассации в рабочие дни</span>
                <div *ngIf="formErrors.closingTimeWeekdays" class="alert alert-danger">{{ formErrors.closingTimeWeekdays }}</div>
                <input formControlName="closingTimeWeekdays" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>

            <div class="sep">Суббота</div>
            <div class="fg half">
                <span class="hint">Начало работы объекта инкассации в субботу</span>
                <div *ngIf="formErrors.openingTimeSaturday" class="alert alert-danger">{{ formErrors.openingTimeSaturday }}</div>
                <input formControlName="openingTimeSaturday" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>
            <div class="fg half">
                <span class="hint">Окончание работы объекта инкассации в субботу</span>
                <div *ngIf="formErrors.closingTimeSaturday" class="alert alert-danger">{{ formErrors.closingTimeSaturday }}</div>
                <input formControlName="closingTimeSaturday" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>

            <div class="sep">Воскресенье</div>
            <div class="fg half">
                <span class="hint">Начало работы объекта инкассации в воскресенье</span>
                <div *ngIf="formErrors.openingTimeSunday" class="alert alert-danger">{{ formErrors.openingTimeSunday }}</div>
                <input formControlName="openingTimeSunday" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>
            <div class="fg half">
                <span class="hint">Окончание работы объекта инкассации в воскресенье</span>
                <div *ngIf="formErrors.closingTimeSunday" class="alert alert-danger">{{ formErrors.closingTimeSunday }}</div>
                <input formControlName="closingTimeSunday" type="text" pattern="[0-2]\d:[0-5]\d"
                       class="form-control" placeholder="ЧЧ:ММ">
            </div>

            <span *ngIf="commonErrorString != null" class="alert alert-danger">{{commonErrorString}}</span>
            <div class="buttons-default">
                <button type="button" class="btn btn-sm btn-primary" (click)="submit()">Сохранить</button>
                <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Отмена</button>
            </div>

        </form>
    </div>

</div>
