<div class="admin">
    <h3>Список объектов инкассации</h3>

    <div *ngIf="!loaded" class="popup opaque">
        <div class="wrap">
            <span>Загрузка...</span>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Время сдачи/прибытия инкассаторов</th>
                <th>Способ сдачи наличности</th>
                <th>Периодичность оказания услуг</th>
                <th>День недели</th>
                <th>Код валюты</th>
            </tr>
        </thead>
        <tbody *ngIf="!loaded" id="appl_list">
            <tr><td colspan="5">Загрузка...</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsIncassationObjects | async)?.length == 0)" id="appl_list">
            <tr><td colspan="5">Не найдено объектов</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsIncassationObjects | async)?.length != 0)" id="appl_list">
            <tr *ngFor="let incass of obsIncassationObjects | async, let i = index"
                (click)="selectRow(i, incass)"
                [ngClass]="{selected: currentRow == i}">
                <td>{{incass.time}}</td>
                <td>{{incass.encashmentType.text}}</td>
                <td>{{incass.incassationPeriod.text}}</td>
                <td *ngIf="incass.incassationPeriod && incass.incassationPeriod.id == 4">
                    {{days[incass.dayOfWeek].text}}
                </td>
                <td *ngIf="incass.incassationPeriod && incass.incassationPeriod.id != 4">&ndash;</td>
                <td>{{incass.currency.code}}</td>
            </tr>
            <tr *ngIf="!noMoreItems">
                <td colspan="4">
                    <button class="btn-sm btn btn-default" (click)="fetchNext()">Загрузить ещё</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons-default">
        <a class="btn btn-md btn-primary" routerLink="add">Добавить</a>
        <button class="btn btn-md btn-default" [attr.disabled]="currentRow < 0 ? true : null" (click)="editSelected()">Редактировать</button>
    </div>

</div>
