<div class="admin">
    <h3>
        <span *ngIf="application != null && application.id !== undefined">Редактирование</span>
        <span *ngIf="application != null && application.id === undefined">Создание</span>
        <span>заявки на инкассацию</span>
    </h3>

    <label *ngIf="error != null">Ошибка: {{error}}</label>

    <div *ngIf="(readinessLevel == 2) && (application == null)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка заявки...</span>
        </div>
    </div>

    <div *ngIf="(readinessLevel < 2)" class="popup opaque">
        <div class="wrap">
            <span>Загрузка данных...</span>
        </div>
    </div>

    <div *ngIf="application != null && form != null">
        <form class="form application" [formGroup]="form" (ngSubmit)="submit()">
            <div class="fg half">
                <label for="ipdate" class="hint">Дата</label>
                <input formControlName="date" id="ipdate" type="date" readonly customDateAccessor/>
            </div>
            <div class="fg half">
                <span class="hint req">Тип заявки</span>
                <div *ngIf="formErrors.applicationType" class="alert alert-danger">{{ formErrors.applicationType }}</div>
                <select formControlName="applicationType" title="Тип заявки, выбираемый при формировании ЭД"
                        name="applicationType" class="form-control"
                        >
                    <option *ngFor="let etype of obsApplicationTypes | async"
                            [attr.selected]="application != null && application.applicationType != null && etype.id == application.applicationType.id ? selected : null"
                            [ngValue]="etype"
                            >{{etype.text}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint req">ИНН/КИО</span>
                <div *ngIf="formErrors.inn" class="alert alert-danger">{{ formErrors.inn }}</div>
                <input formControlName="inn" type="text" class="form-control"
                       required maxlength="12"/>
            </div>
            <div class="fg half">
                <span class="hint ">КПП</span>
                <div *ngIf="formErrors.kpp" class="alert alert-danger">{{ formErrors.kpp }}</div>
                <input formControlName="kpp" type="text" class="form-control"
                       maxlength="12"/>
            </div>
            <div class="fg half">
                <span class="hint req">Полное наименование организации</span>
                <div *ngIf="formErrors.organizationName" class="alert alert-danger">{{ formErrors.organizationName }}</div>
                <input formControlName="organizationName" type="text" class="form-control" required/>
            </div>
            <div class="fg half">
                <span class="hint ">ОГРН</span>
                <div *ngIf="formErrors.ogrn" class="alert alert-danger">{{ formErrors.ogrn }}</div>
                <input formControlName="ogrn" type="text" class="form-control"
                       maxlength="13"/>
            </div>
            <div class="fg half">
                <span class="hint req">Номер счета зачисления</span>
                <div *ngIf="formErrors.clientAccount" class="alert alert-danger">{{ formErrors.clientAccount }}</div>
                <input formControlName="clientAccount" type="text" class="form-control"
                title="Номер счета клиента в банке, на который требуется зачислить инкассированные денежные средства"
                       required maxlength="20" minlength="20"/>
            </div>
            <div class="fg half">
                <span class="hint req">БИК</span>
                <div *ngIf="formErrors.bankCode" class="alert alert-danger">{{ formErrors.bankCode }}</div>
                <input formControlName="bankCode" type="text" class="form-control"
                title="БИК банка, в который требуется инкассировать денежные средства"
                       required maxlength="9" minlength="9"/>
            </div>
            <div class="fg half">
                <span class="hint req">Номер корр. счета банка</span>
                <div *ngIf="formErrors.bankAccountNumber" class="alert alert-danger">{{ formErrors.bankAccountNumber }}</div>
                <input formControlName="bankAccountNumber" type="text" class="form-control"
                title="Счет и реквизиты банка, на который производится перечисление проинкассированных средств"
                       required maxlength="20"/>
            </div>
            <div class="fg half">
                <span class="hint req">Наименование банка</span>
                <div *ngIf="formErrors.bankName" class="alert alert-danger">{{ formErrors.bankName }}</div>
                <input formControlName="bankName" type="text" class="form-control"
                       title="Наименование банка, в который требуется инкассировать денежные средства"
                       required/>
            </div>
            <div class="fg half">
                <span class="hint req">Подразделение банка</span>
                <div *ngIf="formErrors.bankObject" class="alert alert-danger">{{ formErrors.bankObject }}</div>
                <select formControlName="bankObject" title="Подразделения банка, где обслуживается клиент"
                        class="form-control"
                        >
                    <option *ngFor="let etype of obsBankObjects | async"
                            [attr.selected]="application != null && application.bankObject != null && etype.id == application.bankObject.id ? selected : null"
                            [ngValue]="etype"
                    >{{etype.name}}&nbsp;{{etype.address}}</option>
                </select>
            </div>
            <div class="fg half">
                <span class="hint req">SWIFT</span>
                <div *ngIf="formErrors.bankSwift" class="alert alert-danger">{{ formErrors.bankSwift }}</div>
                <input formControlName="bankSwift" type="text" class="form-control"
                       title="SWIFT банка, в который требуется инкассировать денежные средства"
                       maxlength="11" required/>
            </div>
            <div class="fg half">
                <span class="hint ">Иные реквизиты банка зачисления валюты</span>
                <div *ngIf="formErrors.bankOtherInfo" class="alert alert-danger">{{ formErrors.bankOtherInfo }}</div>
                <input formControlName="bankOtherInfo" type="text" class="form-control"
                       title="Указывается дополнительная информация"/>
            </div>
            <div class="fg half clearfix">
                <span class="hint req">Имя уполномоченного сотрудника организации клиента для решения вопросов организации инкассации</span>
                <div *ngIf="formErrors.contactName" class="alert alert-danger">{{ formErrors.contactName }}</div>
                <input formControlName="contactName" type="text" class="form-control"
                       title="ФИО, Должность" required />
            </div>
            <div class="fg half">
                <span class="hint req">Номер телефона, факса уполномоченного сотрудника организации клиента для решения вопросов организации инкассации</span>
                <div *ngIf="formErrors.contactPhone" class="alert alert-danger">{{ formErrors.contactPhone }}</div>
                <input formControlName="contactPhone" type="text" class="form-control"
                       title="Номер телефона для связи" required />
            </div>

            <app-incass-list class="appl_incass_list" [list]="incassList" (onChangedList)="onChangedList($event)"></app-incass-list>

            <span *ngIf="commonErrorString != null" class="alert alert-danger">{{commonErrorString}}</span>
            <div class="buttons-default">
                <button type="button" class="btn btn-sm btn-primary" (click)="submit()">Сохранить</button>
                <button type="button" class="btn btn-sm btn-default" (click)="cancel()">Отмена</button>
            </div>

        </form>
    </div>

</div>
