<div class="admin">
    <h3>Список заявок на инкассацию</h3>

    <div *ngIf="!loaded" class="popup opaque">
        <div class="wrap">
            <span>Загрузка...</span>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>Номер заявки</th>
                <th>Дата</th>
                <th>Тип заявки</th>
            </tr>
        </thead>
        <tbody *ngIf="!loaded" id="appl_list">
            <tr><td colspan="5">Загрузка...</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsApplications | async)?.length == 0)" id="appl_list">
            <tr><td colspan="5">Не найдено объектов</td></tr>
        </tbody>
        <tbody *ngIf="loaded && ((obsApplications | async)?.length != 0)" id="appl_list">
            <tr *ngFor="let application of obsApplications | async, let i = index"
                (click)="selectRow(i, application)"
                [ngClass]="{selected: currentRow == i}">
                <td>{{i+1}}</td>
                <td>{{formatId(application.id)}}</td>
                <td>{{formatDate(application.date)}}</td>
                <td>{{application.applicationType.text}}</td>
            </tr>
            <tr *ngIf="!noMoreItems">
                <td colspan="4">
                    <button class="btn-sm btn btn-default" (click)="fetchNext()">Загрузить ещё</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons-default">
        <a class="btn btn-md btn-primary" routerLink="add">Добавить</a>
        <button class="btn btn-md btn-default" [attr.disabled]="currentRow < 0 ? true : null" (click)="editSelected()">Редактировать</button>
    </div>

</div>
