<div class="incassation_list">
    <h3>Объекты инкассации</h3>

    <div *ngIf="popupVisible" class="popup opaque">
        <div class="wrap formed">
            <div class="subwrap">
                <h3>Выберите объект для добавления к заявке:</h3>
                <select [(ngModel)]="popupSelectedObject">
                    <option *ngFor="let obj of unusedIncassationObjects"
                            [ngValue]="obj">
                        {{obj.encashmentType.text}}; {{obj.settlementName}}, {{obj.streetName}}; {{obj.time}}
                    </option>
                </select>
                <div class="buttons">
                    <button class="btn btn-primary btn-sm" type="button" [attr.disabled]="popupSelectedObject == null ? true : null" (click)="addObjectFromPopup()">Добавить</button>
                    <button class="btn btn-default btn-sm" type="button" (click)="closePopup()">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Время сдачи/прибытия инкассаторов</th>
                <th>Способ сдачи наличности</th>
                <th>Периодичность оказания услуг</th>
                <th>Код валюты</th>
            </tr>
        </thead>
        <tbody *ngIf="!list" id="list_body">
            <tr><td colspan="5">Загрузка...</td></tr>
        </tbody>
        <tbody *ngIf="list && list.length == 0" id="list_body">
            <tr><td colspan="5">Объекты не указаны</td></tr>
        </tbody>
        <tbody *ngIf="list && list.length != 0" id="list_body">
            <tr *ngFor="let incass of list, let i = index"
                (click)="selectRow(i, incass)"
                [ngClass]="{selected: currentRow == i}">
                <td>{{incass.time}}</td>
                <td>{{incass.encashmentType.text}}</td>
                <td>{{incass.incassationPeriod.text}}</td>
                <td>{{incass.currency.code}}</td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <button type="button" class="btn btn-primary btn-sm"
                [attr.disabled]="unusedIncassationObjects.length == 0 ? true : null" (click)="showAddDialog()">Добавить</button>
        <button type="button" class="btn btn-default btn-sm"
                [attr.disabled]="currentObject == null ? true : null" (click)="deleteObject()">Удалить</button>
    </div>

</div>
