<link href="/resources/css/login.css" rel="stylesheet">

<form [formGroup]="regForm" (ngSubmit)="submitForm(regForm.value)" class="form login-form">

    <h3>Регистрация</h3>

    <div class="form-group mblock" [ngClass]="{'has-error':!regForm.controls['login'].valid && regForm.controls['login'].dirty}">
        <label>Логин:</label>
        <input class="form-control" type="text" placeholder="" [formControl]="regForm.controls['login']">
    </div>
    <div class="form-group mblock" [ngClass]="{'has-error':!regForm.controls['password'].valid && regForm.controls['password'].dirty}">
        <label>Пароль:</label>
        <input class="form-control" type="password" placeholder="" [formControl]="regForm.controls['password']"
               validateEqual='password2' reverse="true">
    </div>
    <div class="form-group mblock" [ngClass]="{'has-error':!regForm.controls['password2'].valid && regForm.controls['password2'].dirty}">
        <label>Пароль повторно:</label>
        <input class="form-control" type="password" placeholder="" [formControl]="regForm.controls['password2']"
               required validateEqual="password">
    </div>
    <div class="alert alert-danger" *ngIf="!regForm.controls['password2'].valid && regForm.controls['password2'].dirty">Введённые пароли не совпадают</div>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="buttons-default">
        <button type="submit" *ngIf="(regForm.valid && !isSubmitting)" class="mt1 btn btn-primary btn-md mt1">Зарегистрироваться</button>
        <button type="button" disabled *ngIf="(!regForm.valid || isSubmitting)" class="mt1 btn btn-primary btn-md mt1">Зарегистрироваться</button>
        <button type="button" *ngIf="!isSubmitting" class="mt1 btn btn-md btn-default" (click)="navigateLogin()">Войти</button>
        <button type="button" *ngIf="isSubmitting" class="mt1 btn btn-md btn-default" disabled>Войти</button>
    </div>
</form>
